
/* 
Cores:
Prestige Blue: #2f3542
Anti-Flash White: f1f2f6
Gray: ebecf0

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    font-family: 'Poppins', sans-serif;;
}

body{
    background: #ebecf0;
    color: #2f3542;
    display: flex; 
}

i{
    font-size: 25px!important;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100%;
    padding: 10px;
    background: #f1f2f6;
    color: #2f3542;
    transition: all 0.4s linear;
}

.logo img{
    width: 100px;
    height: 100px;
    padding: 16px;
    border-radius: 50%;
    object-fit: cover;  
    transition: all 0.4s linear;
}

.menu{
    position: relative;
    height: 88%;
    padding: 0;
    list-style: none;
}

.menu li{
    padding: 0.6rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
}

.menu li:hover,
.active{
    background: #fff;
}

.menu a{
    color: #2f3542;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a span{
    overflow: hidden;
}

.main--content{
    position:relative;
    background: #ebecf0;
    width: 100%;
    margin-left: 240px;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background:#fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title{
    color: #2f3542;
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1;
}

.search--box{
    background: #dfe6e9;
    border-radius: 10px;
    color: #2d3436;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 4px 12px;
    font-size: 13px;
}

.search--box input{
    background: transparent;
    color: #2d3436;
    padding: 5px;
    transition: all 0.8s linear;
}

.search--box i{    
    font-size: 13px;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.search--box i:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

.content--container{
    background: #2d3436;
    color: #fff;
    border-radius: 10px 10px 0 0 ;
    padding: 10px;
    width: 100%;
}

.content--title{
    
}

.content--wrapper{
    background: #fff;
    color:#2d3436;
    border-radius: 0 0 10px 10px;
    padding: 16px;
    font-size: 14px;

}

@media (width < 1000px){
    .sidebar{
        width: 65px;
    }

    .logo img{
        width: 50px;
        height: 50px;
        padding: 0px;
    }

    .main--content{
        margin-left: 65px;
    }

}