
/* 
Cores:
Prestige Blue: #2f3542
Anti-Flash White: f1f2f6
Gray: ebecf0

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;;
}

body{
    background: #ebecf0;
    color: #2f3542;
    display: flex; 
}

i{
    font-size: 25px!important;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    height: 100%;
    padding: 10px;
    background: #f1f2f6;
    color: #2f3542;
    transition: all 0.4s linear;
}

.logo img{
    width: 100px;
    height: 100px;
    padding: 16px;
    border-radius: 50%;
    object-fit: cover;  
    transition: all 0.4s linear;
}

.menu{
    position: relative;
    height: 88%;
    padding: 0;
    list-style: none;
}

.menu li{
    padding: 0.6rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
}

.menu li:hover,
.active{
    background: #fff;
}

.menu a{
    color: #2f3542;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a span{
    overflow: hidden;
}

.main--content{
    position:relative;
    background: #ebecf0;
    width: 100%;
    margin-left: 220px;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background:#fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title{
    color: #2f3542;
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1;
}

.search--box{
    background: #dfe6e9;
    border-radius: 10px;
    color: #2d3436;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 4px 12px;
    font-size: 13px;
}

.search--box input{
    background: transparent;
    color: #2d3436;
    padding: 5px;
    transition: all 0.8s linear;
}

.search--box i{    
    font-size: 13px;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.search--box select{
    list-style: none;
}

.search--box i:hover{
    
    transform: scale(1.2);
    transition: all 0.5s;
}

.content--container{
    background: #2d3436;
    color: #fff;
    border-radius: 10px 10px 0 0 ;
    padding: 10px;
    width: 100%;
}

.content--title{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.content--title i{
    display: flex;
    align-items: center;
    opacity: 0.7;
    font-size: 18px!important;
}

.content--title button{
    display: inline-flex;    
    color: inherit;
    align-items: center;
    padding: 4px;
    font-size: 11px;
    gap: 5px;
    width: 90px;
    opacity: 0.7;
}

.content--title button:hover{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.button--remove{
    background:#d63031;
}

.button--add{
    background: #00b894;
}

.content--wrapper{
    background: #fff;
    color:#2d3436;
    border-radius: 0 0 10px 10px;
    padding: 16px;
    font-size: 14px;
}

.content--wrapper img{
    width: 100%;
    border-radius: 5px;
}

.card--alunos{
    background: #f1f2f6;
    border-radius: 8px;
    border: #dfe6e9 1px solid;
    display: inline-flex;
    flex-direction: column;
    width: 250px;
    margin: 4px;
    transition: all 0.4s linear;
}
.card--alunos-info{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    padding: 15px;
}

.card--alunos-info i{
    font-size: 50px!important;
}

.card--alunos-info .counter{
    font-size: 30px;
    font-weight: 500;
}


.mobile--menu{
    display: none;    
    transition: all 0.8s ease-in-out;
    visibility: hidden;
}


@media (width > 1000px){
    .content--wrapper img{
        width: auto;
        border-radius: 5px;
        border: 1px #f1f2f6 solid;
    }
}


@media (width < 900px){
    .sidebar{
       width: 65px;
    }

    .logo img{
        width: 50px;
        height: 50px;
        padding: 0px;
    }

    .main--content{
        margin-left: 65px;
    }

    .card--alunos{
        width: 240px;
    }

}

@media (width < 510px){
    .sidebar{
        display: none;
    }    
    .main--content{
        margin: 0;
        margin-top: 40px;
    }

    .content--title{
        font-size: 12px;
    }

    .content--wrapper{
        font-size: 11px;
    }
    .content--wrapper i{
        font-size: 14px!important;
    }

    .header--wrapper img{
        display: none;
    }

    .mobile--menu{
        display: block;
        width: 100%;
        position: absolute;
        color: #fff;
        background: #2d3436;
        padding: 10px;
        transition: all 0.8s ease-in-out;
        visibility: inherit;
    }

    .mobile--menu-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card--alunos{
        display: inline-flex;
        width: 100%;
    }

    .card--alunos i{
        font-size: 50px!important;
    }

}

